

body {
	margin: 0;
	background: #C63D0F;
	color:#3B3738;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	box-sizing: border-box;
	-web-kit-box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #C63D0F;
}

.hide {
	display: none;
}

.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #FFF;
}

.menu {
	position: absolute;
	width: 300px;
	background: #FDF3E7;
	opacity: 0.7;
	top: 70px;
	right: 1%;
}

.menu ul {
	list-style: none;
	margin: 0 auto;
}

.menu ul li {
	background: #000;
	margin-left: -40px;
	padding: 10px 0;
	text-align: center;
	font-size: 1.2em;
}

.menu ul li a{
	color: #fff;
}

.cont h1 {
	width: 95%;
	margin: 0.7em auto;
	font-size: 1.6em;
}

.nav{
	background: url('../img/nav-bars.png');
	background-size: cover;
	cursor: pointer;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 10px;
	right: 15px;
}

#smaller-img {
	width: 35px;
	height: 35px;
	top: 20px;
}

.wrap {
	width: 95%;
	margin: 70px auto;
	padding: 0.1em 0;
	background: #FDF3E7;
}


.cont, .index {
	width: 95%;
	margin: 0 auto;
}

.menuIndex a{
	text-decoration: none;
	color: #000;
}

.menuIndex ol {
	list-style-type: none;
}


.buttons {
	text-align: center;
	padding: 1em 0;
}

.nav-button {
	width: 40%;
	font-size: 1em;
	font-weight: 700;
	border-radius: 5px;
	height: 40px;
	border:none;
	background: #FF6138;
	color: #fff;
}


